@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* HTML Tag */
html {
  background-image: url("../src/assets/backgroundimage.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
}

/* Links Container class (The card that goes in the center of the screen) */
.links-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 60%;
  border-radius: 36px;
  backdrop-filter: blur(5px);
}

/* Name Header class (Styles where the name goes) */
.name-header{
  text-align: center;
  color: white;
  font-family: "Roboto Mono", sans-serif;
}

/* Profile Picture class (Styles the PFP image) */
.profile-picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 100px;
}

/* Base Class for each link (Applies initial styles to link, anything else needed is its own class. */
.link-base{
  background-color: white;
  width: 40%;
  height: 6%;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 24px;
}

/* About Me Link classes. */
.aboutme-icon{
  width: 5.5%;
  margin-right: .5rem;
}

/* Misc Link classes. */
.misc-icon{
  width: 7.5%;
  margin-right: .5rem;
}

/* Link Text classes. */
.link-text{
  color: black;
  font-family: "Roboto Mono", sans-serif;
}

/* Click Here Link classes. */
.bottom-text{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Roboto Mono", sans-serif;
}

.click-here-link{
  color: white;
}